.window {
      width: 60%;
   }
@media screen and (max-width: 800px) {
   .window {
      width: 100%;
   }
   
}
menu[role="tablist"] {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Zentriert die Tabs und verteilt sie gleichmäßig */
    }
    menu[role="tablist"] button[role="tab"] {
        flex-basis: 48%; /* Passt die Breite der Tabs an, sodass zwei nebeneinander passen */
        margin-bottom: 10px; /* Fügt einen unteren Abstand hinzu */
    }
.center-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Full height of the viewport */
}

svg {
	padding-top: 5px;
}

p {
	font-size: 15px;
}

.read-more {
   font-size: 12px;
}

.container {
    display: flex; /* Aktiviert Flexbox für diesen Container */
}

.box {
    width: 50%; /* Setzt die Breite der Boxen */
}