@media screen and (max-width: 600px) {
   .window {
      width: 100%;
      /* Weitere Anpassungen für kleine Bildschirme */
   }
   /* Weitere angepasste Stile für kleinere Bildschirme */
}

.center-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Full height of the viewport */
}

svg {
	padding-top: 5px;
}

p {
	font-size: 15px;
}

.read-more {
   font-size: 12px;
}

.container {
    display: flex; /* Aktiviert Flexbox für diesen Container */
}

.box {
    width: 50%; /* Setzt die Breite der Boxen */
}